@charset "utf-8";

/*!

  © sparanoid.com

*/

* {
  margin: 0;
  padding: 0;
/*  I don't need any decoration here. */
  text-decoration: none;
}

:root {
  color: #000;
/*  color: rgba(255, 255, 255, .3);*/
  background: #fff;
/*  background: #000;*/
  font-size: 14px;
  font-family: Palatino, 'Palatino Linotype', 'Hiragino Mincho ProN', serif;
  line-height: 1.7;
  max-width: 960px;
  margin: 0 auto;
  padding: 40px;
  image-rendering: optimizeQuality;
  font-weight: 100;
}

a {
  color: #000;
/*  color: #fff;*/
  -webkit-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
     -moz-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
          transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
}
  a:hover {
/*    color: #000;*/
/*    background: rgba(255, 255, 0, .95);*/
    -webkit-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
       -moz-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
            transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
  }

ins {
  color: rgba(0, 0, 0, .3);
}

del {
  text-decoration: line-through;
}

header, nav, article, aside, footer {
  padding-bottom: 30px;
}

header {
  display: none;
}

/*add hgroup here, it needs letter-spacing for titles in post.html*/
nav, hgroup, h1, h2, h3, dt, .al a, footer {
  font-family: Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
  font-size: 11px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .3em;
  color: rgba(0, 0, 0, .4);
}
  nav a, h2 a, dt a:last-child, footer a {
    color: rgba(0, 0, 0, .4);
  }
    nav a:hover, h2 a:hover, dt a:last-child:hover, footer a:hover,
    .current a {
      color: #000;
    }

nav {
}
  nav ul {
    list-style: none;
  }
    nav ul li {
      display: inline-block;
      margin-right: 34px;
    }
      nav ul li:last-child {
        margin-right: 0;
      }

hgroup {
  margin-bottom: 10px;
}
  hgroup h1 {
    display: inline;
/*    float: left;*/
/*    margin-right: .8em;*/
    color: #000;
  }
  hgroup h2 {
    display: inline;
  }

article {
/*  reduce margin-top as each first of paragraph has its own margin-top */
  margin-top: -20px;
  float: left;
  width: 100%;
}
article h3 {
  margin-top: 24px;
}
  article h3:first-child {
    margin-top: 15px;
  }

article a {
  border-bottom: 1px dotted rgba(0, 0, 0, .2);
}
  article a:hover {
    border-bottom-color: #000;
  }

article img,
article video {
  max-width: 100%;
}

article p {
  margin: 1em 0;
  line-height: 1.8;
}

article ul,
article ol {
  margin: 1em 0 1em 20px;
  list-style: square;
}
  article li {
    line-height: 1.8;
  }

article blockquote {
}

article sup {
  line-height: 1;;
}

article abbr:after {
  content: " (" attr(title) ")";
}

article code, article pre {
  font-family: Menlo, Consolas, monospace;
  color: #b74;
}

article .txt {
  max-width: 600px;
  font-size: 14px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .02));
  background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .02));
  background-image:         linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .02));
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 20px;
}
  article .txt p,
  article .txt li {
  }

/* Borrowed from Bootstrap */
article .note, article .download {
  padding: 7px 15px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
  background-color: #eedc94;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
  background-image:    -moz-linear-gradient(top, #fceec1, #eedc94);
  background-image:         linear-gradient(top, #fceec1, #eedc94);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

article .note {
/*  background: #fff;*/
}

article .download {
/*  background: #fff;*/
}

/*  post list in "note" */
dl {
}
  dd {
    
  }
    dt {
      margin: 20px 0 -10px 0;
    }
      dt a {
        border: none;
      }

/* image list in "work" */
/* a padding-top unification workaround */
.al,
article > p > img {
  padding-top: 8px;
  margin-left: 0;
}
  .al li {
    position: relative;
    list-style: none;
    float: left;
    line-height: 0;
  }
    .al li img {
      width: 160px;
      height: 120px;
    }
    .al li a {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      width: 140px;
      height: 100px;
      line-height: 1.5;
      opacity: 0;
      color: #fff;
    }
      .al li a:hover {
        background: #000;
      }
      .al li:hover a {
        opacity: 1;
      }

.bsap {
  max-width: 600px;
  padding-top: 6px;
}
/*image */
.bsa_it_i {
  display: inline-block;
  padding-right: 15px;
  float: left;
}
/*ads text title */
.bsa_it_t {
  display: block;
  padding-bottom: .5em;
  font-weight: bold;
}
/*ads text content */
.bsa_it_d {
  line-height: 1.5;
}
/*hide ads by */
.one .bsa_it_p {
  display: none;
}

footer {
}
  footer a {
  }

::selection {
  background: rgba(255, 255, 0, .8);
}

@media print,
screen and (max-device-width: 480px),
(min-device-width: 1024px) and (max-width: 959px),
(max-device-width: 480px) and (orientation: landscape),
(min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  :root {
    -webkit-text-size-adjust: none;
  }
}

@media
screen and (max-device-width: 480px) {
  :root {
    padding: 40px 20px;
  }
  nav ul li {
    margin-right: 14px;
  }
}

@media print {
  * {
    color: #000 !important;
    line-height: 1.6 !important;
    background: transparent !important;
    border: none !important;
    text-decoration: none !important;
  }
  h1:before {
    display: none;
  }
  a {
    font-weight: bold;
  }
  header, nav, aside, footer {
    display: none;
  }
  article {
    text-align: justify;
  }
}