@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
}

:root {
  color: #000;
  background: #fff;
  font-size: 14px;
  font-family: Palatino, 'Palatino Linotype', 'Hiragino Mincho ProN', serif;
  line-height: 1.7;
  font-weight: 100;
  max-width: 1080px;
  margin: 0 auto;
  padding: 60px 40px;
  text-rendering: optimizelegibility;
  image-rendering: optimizequality;
}

@font-face {
    font-family: 'f';
    src: url('f.eot');
    src: url('f.eot?#iefix') format('embedded-opentype'),
         url('f.woff') format('woff'),
         url('f.ttf') format('truetype'),
         url('f.svg#AllerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.gray { color: rgba(0, 0, 0, .35); }

.aller {
  font-family: f, Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
  text-transform: uppercase;
}

.helvetica {
  .gray;
  font-family: Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .3em;
}

a {
  color: #000;
  -webkit-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
     -moz-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
          transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
  &:hover {
    color: #f40;
    -webkit-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
       -moz-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
            transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
  }
}

ins {
  .gray;
}

del {
  text-decoration: line-through;
}

body:before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  content: '';
  background: rgba(0, 0, 0, .05);
  border-bottom: 1px solid rgba(0, 0, 0, .02);
  z-index: 9999;
  pointer-events: none;
}

header {
  position: relative;
  .aller;
  font-size: 30px;
  padding: 5px 0 0 50px;
  height: 38px;
  width: 160px;
  margin: 0 auto;
  a:hover {
    color: inherit;
  }
}

header:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;
  content: '';
  background: url(l.svg) no-repeat 0 0;
  background-size: 38px 38px;
  -webkit-animation: r 10s infinite linear;
     -moz-animation: r 10s infinite linear;
}

@-webkit-keyframes r {
  0%   { -webkit-transform: rotate(0); }
  100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes r {
  0%   { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(360deg); }
}

nav {
  .helvetica;
  font-size: 11px;
}

nav[role=navigation] {
  padding: 15px 0;
  ul {
    text-align: center;
    li {
      display: inline;
      margin: 0 .8em;
    }
  }
}

nav[role=pagination] {
  a {
    position: fixed;
    top: 177px;
    display: block;
    padding: 10px 15px;
    background: rgba(0, 0, 0, .05);
    z-index: 9999;
  }
  a[role=next] {
    left: 0;
  }
  a[role=previous] {
    right: 0;
  }
}

hgroup {
  .aller;
  font-size: 18px;
  text-align: center;
  padding-top: 40px;
  h2 {
    .helvetica;
    padding-top: .4em;
  }
}

article {
  float: left;
  width: 100%;
  padding-top: 40px;
  a {
    border-bottom: 1px dotted rgba(0, 0, 0, .2);
    &:hover {
      /*border-bottom-color: #000;*/
    }
  }
  img, video {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
  p {
  }
  .txt {
    max-width: 640px;
    font-size: 18px;
    margin: 0 auto;
    text-align: justify;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    p {
      margin: 1em 0;
      line-height: 2;
    }
    h3 {
      .helvetica;
      padding: 60px 0 0;
      text-align: center;
      &:first-child {
        margin-top: -40px;
      }
    }
    ul, ol {
      margin: 1em 0 1em 20px;
      list-style: square;
      li {
        line-height: 1.8;
      }
    }
    sup {
      line-height: 1;
    }
    abbr:after {
      content: " (" attr(title) ")";
    }
    code, pre {
      font-family: Menlo, Consolas, monospace;
      color: #b74;
    }
  }
  .note, .download {
    .helvetica;
    color: #000;
    letter-spacing: 0;
    text-transform: none;
    font-size: 14px;
    padding: 20px;
    border-left: 3px solid rgba(255, 64, 0, .15);
    background: rgba(255, 64, 0, .1);
  }
}

// image list in "work" 
// a padding-top unification workaround 
.al {
  max-width: 675px;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  li {
    position: relative;
    list-style: none;
    float: left;
    line-height: 0;
    text-align: left;
    img {
      width: 135px;
      height: 101.25px;
      margin: 0;
    }
    a {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      width: 115px;
      height: 81.25px;
      .aller;
      color: #fff;
      font-size: 14px;
      line-height: 1.45;
      opacity: 0;
      &:hover {
        background: rgba(0, 0, 0, .9);
      }
    }
    &:hover a {
      opacity: 1;
    }
  }
}

// post list in "note" 
dl {
  text-align: center;
  margin-top: -40px;
  dt {
    padding: 60px 0 0;
    .helvetica;
    a {
      border: none;
    }
  }
  dd {
    margin-bottom: 40px;
  }
}

aside {
  padding: 60px 0 40px;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  clear: both;
  .bsap {
    .bsa_it_i {
      display: block;
    }
    .bsa_it_t {
      display: block;
      margin: 1em 0;
    }
    .bsa_it_d {
      display: block;
      margin: 1em 0;
    }
    .bsa_it_p {
      display: block;
      font-size: 12px;
      a {
        .gray;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

footer {
  padding: 15px 0;
  .helvetica;
  font-size: 11px;
  text-align: center;
}

.top {
}

@media screen and (max-width: 640px) {
  article .txt {
    font-size: 16px;
  }
}

@media screen and (max-device-width: 480px) {
  :root {
    padding: 40px 20px;
  }
  article .txt {
    font-size: 14px;
  }
}
