//
// Reset
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-size-adjust: none;
  text-rendering: optimizelegibility;
  image-rendering: optimizequality;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // TODO: You have to speicify background color for `html` in order to
  //       make `-webkit-filter` work
  // Link: https://bugs.chromium.org/p/chromium/issues/detail?id=591015
  // Date: Mar 1, 2016, 5:41 PM
  background: var(--bg-color);
}

body {
  --space-body: var(--space-lg);
  padding-top: 0;
  padding-bottom: 0;
  @include padding-offset(var(--space-body));
  margin: 0 auto 0;
  font-family: var(--fontstack-default);
  font-size: var(--font-size);
  font-feature-settings: var(--font-features);
  line-height: var(--line-height);
  hanging-punctuation: first allow-end;
  color: var(--text-color);
  background: var(--bg-color);
  transition: all .2s ease;

  @media (max-width: $breakpoint-md) {
    --space-body: var(--space-md);
    font-size: calc(var(--font-size) * 1.4);
  }

  @media (max-width: $breakpoint-sm) {
    --space-body: var(--space-sm);
    font-size: calc(var(--font-size) * 2.4);
  }

  @media (max-width: $breakpoint-xs) {
    font-size: calc(var(--font-size) * 3.2);
  }
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Reset unusual Firefox-on-Android default style.
// See https://github.com/necolas/normalize.css/issues/214
button,
input,
select[multiple],
textarea {
  background-image: none;
}

// Reset common elements
a,
button {
  color: var(--text-color);
  text-decoration: none;
  transition: color .5s ease, border-color .5s ease, background .5s ease, opacity 1.5s ease;

  &:hover,
  &:focus {
    transition: color .1s ease, border-color .1s ease, background .1s ease, opacity .1s ease;
    text-decoration: underline;
  }

  &[disabled] {
    opacity: .4;
    cursor: not-allowed;
  }
}

button {
  appearance: none;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img,
hr {
  border: 0;
}

del {
  text-decoration: line-through;
}

::placeholder {
  color: var(--text-color);
  opacity: .2;
}

:focus::placeholder {
  color: var(--link-color);
}
