# TUNGHSIAO LIU'S FAVORITE GITIGNORE

# Jekyll specified
_site
*.css
Rakefile

# Codekit specified
codekit-config.json

# Mac OS X files
.DS_Store

# Image, font original files
*.psd
*.ai

# Logs, Leftovers
*.log
*.bak