---
layout: page
title: Work
permalink: /work/
desc: Designs &amp; drawings
---

<div class=txt>
  <h3>Web Designs / Side Projects</h3>
</div>
<ul role=work-list>
{% for post in site.tags.design %}
  <li>
    <a href={{ post.url }}/>
      <img src="{{ site.file }}/thumb/{% if post.thumb %}{{ post.thumb }}{% else %}na.png{% endif %}" alt="{{ post.title }}">
      <p>
        {{ post.title }}
        <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%b %Y" }}</time>
      </p>
    </a>
  </li>
{% endfor %}
</ul>

<div class=txt>
  <h3>Sketches / Paintings</h3>
</div>
<ul role=work-list>
{% for post in site.tags.drawing %}
  <li>
    <a href={{ post.url }}/>
      <img src="{{ site.file }}/thumb/{% if post.thumb %}{{ post.thumb }}{% else %}na.png{% endif %}" alt="{{ post.title }}">
      <p>
        {{ post.title }}
        <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%b %Y" }}</time>
      </p>
    </a>
  </li>
{% endfor %}
</ul>