---
layout: page
title: Note ／ ノート ／ 筆記
permalink: /note/
desc: Random ramblings
---

<div role=note-list>
  {% for post in site.categories.note %}
  <section>
    <h2>
      {% if post.link %}<a href={{ post.link }}>{{ post.title }}</a>{% else %}<a href={{ post.url }}/>{{ post.title }}</a>{% endif %}
      <time datetime="{{ post.date | date_to_xmlschema }}" pubdate>{{ post.date | date: "%b %Y" }}</time>
      {% if post.link %}<a href={{ post.url }}/>&infin;</a>{% endif %}
    </h2>
    {{ post.content }}
  </section>
  {% endfor %}  
</div>