---
layout: page
title: Work
permalink: /work/
desc: 作品・ワークス・TBC
---

<h2>Personal Projects</h2>
{% for post in site.tags.project %}
  {% include themes/{{ site.theme }}/includes/page-item.html %}
{% endfor %}

<h2>WordPress Themes / Plugins</h2>
{% for post in site.tags.wordpress %}
  {% include themes/{{ site.theme }}/includes/page-item.html %}
{% endfor %}

<h2>Commercial Work</h2>
{% for post in site.tags.commercial %}
  {% include themes/{{ site.theme }}/includes/page-item.html %}
{% endfor %}

<h2>Translation</h2>
{% for post in site.tags.i18n %}
  {% include themes/{{ site.theme }}/includes/page-item.html %}
{% endfor %}

<h2>Paintings / Sketches</h2>
{% for post in site.tags.drawing %}
  {% include themes/{{ site.theme }}/includes/page-item.html %}
{% endfor %}
