<!-- Post-wide custom CSS -->
{{ amsf_page_css }}

<!-- Prepare for image headers -->
{% capture amsf_page_heading_type_img %}
  <img
    src="{{ site.file }}/{{ page.img-headline }}"
    alt="{{ page.title | strip_html | xml_escape }}"
    {% if page.img-headline-width %}
      style="width: {{ page.img-headline-width | times: 0.1 }}vw;"
    {% else %}
      style="width: 50vw;"
    {% endif %}
  >
{% endcapture %}

<!-- Prepare for SVG header -->
{% capture amsf_page_heading_type_svg %}
  <img
    src="{{ amsf_user_assets }}/{{ page.svg-headline }}"
    {% if page.svg-headline-width %}
      style="width: {{ page.svg-headline-width | times: 0.1 }}vw;"
    {% else %}
      style="width: 50vw;"
    {% endif %}
  >
{% endcapture %}

{% capture amsf_page_heading_text %}
  {% if page.img-headline %}
    {{ page.title }}
    {{ amsf_page_heading_type_img }}
  {% elsif page.svg-headline %}
    {{ page.title }}
    {{ amsf_page_heading_type_svg }}
  {% else %}
    {{ page.title }}<span class="dot dot--post"> </span>
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_class %}
  {% if page.img-headline or page.svg-headline %}
    image-title
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_external %}
  {% if page.link %}
    class=external
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading %}
  {% if page.link %}
    <a href="{{ page.link }}" class=external>
      {{ amsf_page_heading_text }}
    </a>
  {% else %}
    {{ amsf_page_heading_text }}
  {% endif %}
{% endcapture %}

<!-- Prepare for heading background -->
{% capture amsf_page_heading_bg_image %}
  {% assign protocal = page.heading-bg | match_regex: '^((?:https?:)?\/\/)' %}
  {% if protocal == null %}
    {% if page.heading-bg-local %}
      background-image: url('{{ amsf_user_assets }}/{{ page.heading-bg }}');
    {% else %}
      background-image: url('{{ site.file }}/{{ page.heading-bg }}');
    {% endif %}
  {% else %}
    background-image: url('{{ page.heading-bg }}');
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_bg_color %}
  {% if page.heading-bg-color %}
    background-color: {{ page.heading-bg-color }};
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_bg_size %}
  {% if page.heading-bg-size %}
    background-size: {{ page.heading-bg-size }};
  {% else %}
    background-size: cover;
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_bg_position %}
  {% if page.heading-bg-position %}
    background-position: {{ page.heading-bg-position }};
  {% else %}
    background-position: center center;
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_bg_repeat %}
  {% if page.heading-bg-position %}
    background-repeat: {{ page.heading-bg-repeat }};
  {% else %}
    background-repeat: no-repeat;
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_bg_text %}
  {% if page.heading-bg-text %}
    color: {{ page.heading-bg-text }};
  {% endif %}
{% endcapture %}

{% capture amsf_page_heading_bg %}
  style="{{ amsf_page_heading_bg_image | strip }} {{ amsf_page_heading_bg_color | strip }} {{ amsf_page_heading_bg_size | strip }} {{ amsf_page_heading_bg_position | strip }} {{ amsf_page_heading_bg_repeat | strip }} {{ amsf_page_heading_bg_text | strip }}"
{% endcapture %}

<!-- Article wrapper, limit width -->
<article {{ amsf_page_lang }}>

  <!-- Post title -->
  <header {{ amsf_page_heading_bg }}>

    <h1 class="{{ amsf_page_heading_class }}" title="{{ page.title | strip_html | xml_escape }}" data-title="{{ page.title | strip_html | xml_escape }}">
      {{ amsf_page_heading }}
    </h1>

    {% if page.date %}
      <small>
        By <span rel="author">{{ author.name }}</span>
        on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      </small>
    {% endif %}

    {% if page.desc %}
      <small>{{ page.desc }}</small>
    {% endif %}

  </header>

  <!-- Post content -->
  <div class="post-content">
    {{ content }}

    {% assign date_publish = page.date | date: "%b %-d, %Y" %}
    {% assign date_update  = page.last_modified_at | date: "%b %-d, %Y" %}

    {% if date_publish != date_update and site.dev == false %}
      <footer class="post-modified-date">
        <p>
          Updated
          <time datetime="{{ page.last_modified_at | date: " %FT%X+08:00 " }}">
            {{ page.last_modified_at | date: "%A, %b %d, %Y" }}
          </time>
        </p>
      </footer>
    {% endif %}
  </div>

</article>
