<!-- Footer and sponsor ad section -->
{% if page.title != site.data.var.name %}
  <!-- Insert ad here -->

  <footer class=footer>
    <ul>
      <li><a href="{{ site.data.var.base }}/">{{ site.data.var.name }}</a></li>
      <li><a href="http://twitter.com/{{ site.data.var.twtr_author}}">@{{ site.data.var.twtr_author }}</a></li>
      <li><a href="{{ site.data.var.base }}/{{ site.data.var.feed }}/" title="Feed - Atom (The Atom Syndication Format)">Atom Feed</a></li>
    </ul>
    <p style="display: none;">
      <a href="https://plus.google.com/104661024366024122505?rel=author" rel=author>Google+</a>
    </p>
  </footer>
{% endif %}
