<!-- Add FlexSlider script for posts with sliders -->
{% if page.plugin == 'slider' %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="{{ site.data.var.base }}/{{ site.data.var.assets }}/js/jquery.flexslider-min.js"></script>
  <script>
  $(window).load(function() {
    $('.flexslider').flexslider({
      smoothHeight: true,
      slideshowSpeed: 4000,
      animationSpeed: 400,
      pauseOnHover: false,
      controlNav: false,
      directionNav: false
    });
  });
  </script>
{% endif %}
