<!-- Main navigation with current page / categoriy highlighted -->
<nav class=navigation>
  {% if page.permalink == '/'                                   %}<ul class=nav-home>{% endif %}
  {% if page.permalink == '/note/'  or page.category == 'note'  %}<ul class=nav-note>{% endif %}
  {% if page.permalink == '/about/' or page.category == 'about' %}<ul class=nav-about>{% endif %}
    <li{% if page.permalink == '/'       or page.category == 'home'  %} class=current{% endif %}><a href="{{ site.data.var.base }}/">Home</a></li>
    <li{% if page.permalink == '/note/'  or page.category == 'note'  %} class=current{% endif %}><a href="{{ site.data.var.base }}/note/">Note</a></li>
    <li{% if page.permalink == '/about/' or page.category == 'about' %} class=current{% endif %}><a href="{{ site.data.var.base }}/about/">About</a></li>
  </ul>
</nav>
