<!doctype html>

{% if site.force_utf_8 %}
  <meta charset=utf-8>
{% endif %}

<title>
  {{ amsf_page_title }}{{ amsf_site_title }}
</title>

<meta name=viewport content="width=device-width, initial-scale=1">

<!-- Define a description for better SEO result -->
<meta name=description content="{{ amsf_site_desc }}">

<link rel=alternate href="{{ amsf_feed_url }}" type=application/atom+xml>

<link rel=stylesheet href="{{ '/css/app.css' | prepend: site.assets | prepend: site.base }}">

<!-- Canonical links, avoid duplicate content problems -->
<link rel=canonical href="{{ amsf_page_url }}">

<!-- DNS prefetching for static files -->
{% if page.permalink == '/' %}<link rel=dns-prefetch href="{{ site.file }}">{% endif %}

<!-- browser-sync, don't remove this -->
<!-- BS_INSERT -->

<!-- Head hooks -->
{% if page.head %}
  {{ page.head }}
{% endif %}
