<!-- Twitter Cards support, more info: https://dev.twitter.com/docs/cards -->
{% if page.category %}
  <meta name=twitter:card content="summary">
  <meta name=twitter:site content="@{{ site.data.var.twitter }}">
  <meta name=twitter:creator content="@{{ site.data.var.twtr_author }}">
  <meta name=twitter:url content="{{ site.data.var.url }}{{ site.data.var.base }}{{ page.url }}">
  <meta name=twitter:title content="{{ page.title | strip_html | xml_escape }}">
  <meta name=twitter:description content="{{ content_description }}">
  {% if page.thumb %}
    <meta name=twitter:image content="{{ site.data.var.file }}/thumb/{% if page.thumb %}{{ page.thumb }}{% else %}na.png{% endif %}">
  {% endif %}
{% endif %}
