---
layout: default
title: Sparanoid
permalink: /
---

<article>
  <hgroup>
    <h1>
      Hi, I’m Tunghsiao Liu, <br>
      I make things that don’t suck.<br>
      {% for post in site.categories.work limit:1 %}
        Latest - <a href="{{ site.base }}{{ post.url }}/">{{ post.title }}</a>
      {% endfor %}
    </h1>

    {% if site.availability == 'free' %}
      <h2 class="status available"><a href="mailto:{{ site.email }}">Hire me, currently available for freelance</a><h2>
    {% else %}
      <h2 class="status unavailable"><a href="mailto:{{ site.email }}" title="You think your project is great? try to reach me.">I’m currently not accepting freelance work</a><h2>
    {% endif %}
  </hgroup>
</article>