---
layout: page
title: Work
permalink: /work/
desc: Designs &amp; drawings
---

<div class=txt>
  <h3>Side Projects</h3>
</div>
<ul class=work-list>
  {% for post in site.tags.project %}
    {% include work-thumb.html %}
  {% endfor %}
</ul>

<div class=txt>
  <h3>Web Designs / App Designs / Print Designs</h3>
</div>
<ul class=work-list>
  {% for post in site.tags.design %}
    {% include work-thumb.html %}
  {% endfor %}
</ul>

<div class=txt>
  <h3>Sketches / Paintings</h3>
</div>
<ul class=work-list>
  {% for post in site.tags.drawing %}
    {% include work-thumb.html %}
  {% endfor %}
</ul>