---
layout: default
title: Sparanoid
permalink: /
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <h1>
      Tunghsiao Liu
    </h1>

    <small class=latest-post>
      {% for post in site.categories.work limit:1 %}
        Recently made <a href="{{ site.data.var.base }}{{ post.url }}" class=latest>{{ post.title }}</a>
      {% endfor %}
    </small>

    {% if site.data.var.availability == 'free' %}
      <p class="status available"><a href="mailto:{{ site.data.var.email }}">Currently available for freelance</a></p>
    {% else %}
      <p class="status unavailable"><a href="mailto:{{ site.data.var.email }}" title="You think your project is great? try to reach me.">Not accepting freelance work now</a></p>
    {% endif %}
  </header>
</article>