---
layout: default
title: Sparanoid
permalink: /
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <h2>
      Tunghsiao Liu
    </h2>

    <small class=latest-post>
      {% for post in site.categories.work limit:1 %}
        Recently redesigned <a href="{{ post.url | prepend: site.base }}" class=latest>{{ post.title }}</a>
      {% endfor %}
    </small>

    {% if site.data.availability.free %}
      <p class="status available"><a href="mailto:{{ site.profile.email }}">Currently available for freelance</a></p>
    {% else %}
      <p class="status unavailable"><a href="mailto:{{ site.profile.email }}" title="You think your project is great? try to reach me.">Not accepting freelance work now</a></p>
    {% endif %}
  </header>
</article>
