<!-- Post specified styles -->
<style data-assets-inline>
  :root {
    {% if page.scheme-link %}
    --link-color: {{ page.scheme-link }};
    {% endif %}

    {% if page.scheme-bg %}
    --bg-color: {{ page.scheme-bg }};
    {% endif %}

    {% if page.scheme-text %}
    --text-color: {{ page.scheme-text }};
    {% endif %}

    {% if page.scheme-code %}
    --code-color: {{ page.scheme-code }};
    {% endif %}
  }

  {%- comment -%} Dark mode overrides, that's all we need for dark mode {%- endcomment -%}
  {% if site.data.curtana.auto_dark_mode %}
  @media (prefers-color-scheme: dark) {
    :root {
      --text-color-l: 95%;
      --bg-color-l: 14%;
      --bg-color-s: 2%;
      --code-color-l: calc(var(--link-color-l) * 1.3);
    }
  }
  {% endif %}

  body {
    {% if page.scheme-bg-img %}
      {% assign first = true %}
      background-image:
        {% for image in page.scheme-bg-img %}
          {% unless first %},{% endunless %}
          {% if page.scheme-bg-img-local == true %}
            url("{{ amsf_user_assets }}/{{ page.scheme-bg-img[forloop.index0] }}")
          {% else %}
            url("{{ site.file }}/{{ page.scheme-bg-img[forloop.index0] }}")
          {% endif %}
          {% assign first = false %}
        {% endfor %}
      ;
    {% endif %}
  }

  {% if page.scheme-hero-bg %}
  .content header {
    background: {{ page.scheme-hero-bg }};
  }
  {% endif %}
  {% if page.scheme-hero-text %}
  .content header {
    color: {{ page.scheme-hero-text }};
  }
  {% endif %}
    {% if page.scheme-hero-link %}
    .content header a {
      color: {{ page.scheme-hero-link }};
    }
    .content header .external .dot {
      background: {{ page.scheme-hero-link }};
    }
    {% endif %}
</style>
