<!-- Footer section -->
{% if page.permalink == '/' and site.data.curtana.clean_homepage %}
{% else %}
  <footer class="footer">
    <ul>
      <li><a href="{{ site.base }}/">{{ site.name }}</a></li>

      {% if site.credits %}
        <li><a href="http://sparanoid.com/lab/amsf/" title="Almace Scaffolding">AMSF</a></li>
        <li><a href="{{ site.data.curtana.meta.url }}" title="{{ site.data.curtana.meta.name }}">{{ site.data.curtana.meta.name }}</a></li>
      {% endif %}

      {% if site.data.curtana.subscription %}
        <li><a href="{{ '/email-signup' | prepend: site.base }}/">Email</a></li>
      {% endif %}

      <li><a href="{{ amsf_feed_url }}" title="Feed - Atom (The Atom Syndication Format)">Atom</a></li>
    </ul>
  </footer>
{% endif %}
