<!-- The following code is an example use of including external JavaScript libraries -->
{% if page.plugin == 'intense' %}

  <script src="{{ '/js/intense.js' | prepend: amsf_theme_assets }}"></script>
  <script>
    window.onload = function() {
      var fx = document.querySelectorAll('p > img:not(.no-intense)');
      var el = document.body;
      var cl = 'loaded'

      if (el.classList)
        el.classList.add(cl);
      else
        el.className += ' ' + cl;

      Intense(fx);
    }
  </script>
{% endif %}

<!-- Theme scripts -->
<script src="{{ '/js/app.js?assets-inline' | prepend: amsf_theme_assets }}"></script>

<!-- User custom scripts -->
<script src="{{ '/js/custom.js?assets-inline' | prepend: amsf_user_assets }}"></script>

<!-- Google Analytics tracking code -->
{{ amsf_google_analytics }}

<!-- Foot hooks -->
{% if page.foot %}
  {{ page.foot }}
{% endif %}
