<!-- Open Graph and Twitter Cards support, more info: https://dev.twitter.com/docs/cards -->
<meta property="og:type" content="{{ amsf_page_type }}">
<meta property="og:site_name" content="{{ amsf_site_name | strip_html | xml_escape }}">
<meta property="og:title" content="{{ amsf_page_title | strip_html | xml_escape }}">
<meta property="og:url" content="{{ amsf_page_url }}">
<meta property="og:description" content="{{ amsf_site_desc }}">
<meta property="og:image" content="{{ amsf_page_thumbnail }}">

<meta name="twitter:card" content="{{ amsf_page_type_twitter }}">

{% if site.twitter %}
  <meta name="twitter:site" content="@{{ site.twitter }}">
{% endif %}

{% if author.twitter %}
  <meta name="twitter:creator" content="@{{ author.twitter }}">
{% endif %}

{% if page.path contains "_posts" %}
  <meta property="article:published_time" content="{{ amsf_page_pubdate | date_to_xmlschema }}">
  <meta property="article:modified_time" content="{{ amsf_page_update | date_to_xmlschema }}">
  <meta name="twitter:label1" value="Words">
  <meta name="twitter:data1" value="{{ amsf_page_words }}">
  <meta name="twitter:label2" value="Reading time">
  <meta name="twitter:data2" value="{{ amsf_page_reading_time }}">
{% endif %}
