<!-- List snippets -->

<!-- Dynamic link color based on post color scheme -->
{% capture post_link_color %}
  {% if post.scheme-list-color %}
    {% if post.scheme-list-color == 'text' %}
      style="color: {{ post.scheme-text }};"
    {% elsif post.scheme-list-color == 'hover' %}
      style="color: {{ post.scheme-hover }};"
    {% elsif post.scheme-list-color == 'code' %}
      style="color: {{ post.scheme-code }};"
    {% elsif post.scheme-list-color == 'bg' %}
      style="color: {{ post.scheme-bg }};"
    {% else %}
      style="color: {{ post.scheme-link }};"
    {% endif %}
  {% elsif post.scheme-bg %}
    {% if post.scheme-bg-light %}
      style="color: {{ post.scheme-link }};"
    {% else %}
      style="color: {{ post.scheme-bg }};"
    {% endif %}
  {% elsif post.scheme-link %}
    style="color: {{ post.scheme-link }};"
  {% endif %}
{% endcapture %}

<!-- Dynamic background color based on post color scheme -->
{% capture post_link_bg %}
  {% if post.scheme-list-color %}
    {% if post.scheme-list-color == 'text' %}
      style="background: {{ post.scheme-text }};"
    {% elsif post.scheme-list-color == 'hover' %}
      style="background: {{ post.scheme-hover }};"
    {% elsif post.scheme-list-color == 'code' %}
      style="background: {{ post.scheme-code }};"
    {% elsif post.scheme-list-color == 'bg' %}
      style="background: {{ post.scheme-bg }};"
    {% else %}
      style="background: {{ post.scheme-link }};"
    {% endif %}
  {% elsif post.scheme-bg %}
    {% if post.scheme-bg-light %}
      style="background: {{ post.scheme-link }};"
    {% else %}
      style="background: {{ post.scheme-bg }};"
    {% endif %}
  {% elsif post.scheme-link %}
    style="color: {{ post.scheme-link }};"
  {% endif %}
{% endcapture %}

<section class="list">
  <h1>
    <!-- Item title -->
    <a href="{{ post.url | prepend: site.base }}" {% if site.data.curtana.colorful_list %}{{ post_link_color }}{% endif %}>{{ post.title }}</a>

    <!-- External link indicator -->
    {% if post.link %}
      <a href="{{ post.link }}" class=external><span class="dot" {% if site.data.curtana.colorful_list %}{{ post_link_bg }}{% endif %}> </span></a>
    {% endif %}
  </h1>
</section>
