<!-- List snippets -->
{%- include amsf/core type=post -%}

{% assign custom_scheme = post.scheme-text or
                          post.scheme-hover or
                          post.scheme-code or
                          post.scheme-bg or
                          post.scheme-link
                          %}

<!-- Dynamic link color based on post color scheme -->
{% capture post_link_color %}
  {% if custom_scheme %}
    style="color: {{ amsf_page_theme_color }};"
  {% endif %}
{% endcapture %}

<!-- Dynamic background color based on post color scheme -->
{% capture post_link_bg %}
  {% if custom_scheme %}
    style="background: {{ amsf_page_theme_color }};"
  {% endif %}
{% endcapture %}

<section class="list">
  <h1>
    <!-- Item title -->
    <a href="{{ post.url | relative_url }}" {% if site.data.curtana.colorful_list %}{{ post_link_color }}{% endif %}>{{ amsf_page_title }}</a>

    <!-- External link indicator -->
    {% if post.link %}
      <a href="{{ post.link }}" class=external><span class="dot" {% if site.data.curtana.colorful_list %}{{ post_link_bg }}{% endif %}> </span></a>
    {% endif %}
  </h1>
</section>
