/*! (c) sparanoid.com */

/* @group Reference Block

	By default:
	
	1em = 16px
	
	so:

	48px = 3em
	36px = 2.25em
	32px = 2em
	30px = 1.875em
	28px = 1.75em
	26px = 1.625em
	24px = 1.5em
	22px = 1.375em
	20px = 1.25em
	18px = 1.125em
	16px = 1em
	15px = 0.9375em
	14px = 0.875em
	13px = 0.8125em
	12px = 0.75em // problem with Titillium auto-hinting
	11px = 0.6875em
	10px = 0.625em
	 9px = 0.5625em
	 8px = 0.5em
	 7px = 0.4375em
	 6px = 0.375em

*//* @end */


/* @group CSS Reset */

/* asterisk, not worse than a block of shitty tags? */
* {margin: 0; padding: 0;}
article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* @end */




/* @group File URL Settings */		

@font-face {
	font-family: 'Titillium';
	src: local('☺'), url('http://a0.sparanoid.com/assets/font/titilliumtext25l003.otf') format('opentype'), url('http://a0.sparanoid.com/assets/font/titilliumtext25l003.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Scriptina Pro';
	src: local('☺'), url('http://a0.sparanoid.com/assets/font/scriptina_pro.otf') format('opentype'), url('http://a0.sparanoid.com/assets/font/scriptina_pro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* @end */




/* @group Color Assets */

body, input {
	color: #000;
	background: #fff;
}

a {
	color: #000;
}

a:hover,
article a {
	color: #f50;
}

article a:hover {
	color: #c20;
}

li, blockquote,
#post-nav {
	color: rgba(0, 0, 0, 0.6);
}

h1, h2, h3, h4, h5, h6,
.self-intro {
	text-shadow: #fff 0 0 20px;
}

code,
pre {
	color: rgba(0, 0, 102, 0.75);
	background-color: rgba(0, 255, 255, 0.2);
}

abbr {
	border-color: rgba(0, 0, 0, 0.3);
}

input[type="search"] {
	border: rgba(0, 0, 0, 0.3) 1px solid;
	background: #fff;
}

input[type="search"]:focus {
	border: rgba(255, 85, 0, 1) 1px solid;
}

.pages {
	background: rgba(0, 0, 0, 0.15);
}

.pages:hover {
	background: rgba(255, 85, 0, 0.9);
}

.effect-loader {
	background: rgba(0, 0, 0, 0.7);
}

.pages *,
.pages *:hover {
	color: #fff;
}

#decoration-wrap {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.15)), color-stop(30%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0) 100%);
/*	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,0,1)), color-stop(85%,rgba(34,34,34,0)), color-stop(100%,rgba(34,34,34,0)));*/
/*	-webkit-mask-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(black), to(transparent));*/
}

.note {
	color: rgba(255, 255, 255, 0.8);
	background: rgba(255, 0, 0, 0.7);
}

.download {
	color: rgba(255, 255, 255, 0.35);
	background: rgba(0, 0, 0, 0.85);
}

.note a, .download a, .note a:hover, .download a:hover {
	color: #fff;
}

a.more {
	color: #fff;
	background: #f50;
}

a.more:hover {
	color: #fff;
	background: #f70;
}

a.more:active {
	background: #c20;
}

::-webkit-input-placeholder {color: #f50;}
:-moz-placeholder {color: #f50;}
::-moz-selection {background: rgba(0, 0, 0, 0.05);}
::selection {background: rgba(0, 0, 0, 0.05);}
.lindsayisgod::-moz-selection {background: #f00; color: #fff;}
.lindsayisgod::selection {background: #f00; color: #fff;}

ins, mark {background-color: rgba(255, 255, 0, 0.3);}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}

/* @end */





/* @group Typograph Definition */
/* P.S. Still some font-family coded outside this group */

body {
	/* en / en alternate / ja / zh / zh alternate (windows) / fallback */
	font: normal normal normal 100%/1 Titillium, Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft JhengHei', sans-serif;
	-moz-font-feature-settings: "liga=1,dlig=1,hlig=1,calt=1,clig=1,frac=1,salt=1,swsh=1,cswh=1";
	     font-feature-settings: "liga=1,dlig=1,hlig=1,calt=1,clig=1,frac=1,salt=1,swsh=1,cswh=1";
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
}

code, pre, input {
	font: 0.875em Consolas, Menlo, 'Courier New', 'Andale Mono', 'Droid Sans Mono', monospace;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	letter-spacing: -0.02em;
}

h1, .h1 {font-size: 1.625em;}
h2, .h2 {font-size: 1.625em;}
h3, .h3 {font-size: 1.5em;}
h4, .h4 {font-size: 1.5em;}
h5, .h5 {font-size: 1.375em;}
h6, .h6 {font-size: 1;}

/* @end */




/* @group Commons, Header and Index */

/* #wrap, */
header,
article,
footer,
hgroup,
.yoggrtad-wrap,
#post-nav>section {
	max-width: 1200px;
	padding-left: 4%;
	padding-right: 4%;
	margin-left: auto;
	margin-right: auto;
}

code, pre, input[type="search"],
.note, .download, .more {
	border-radius: 0.3em;
}

#site-title {
	display: none;
}

hgroup {
	/* aka .entry-title */
	padding-top: 8em;
	margin-bottom: 3em;
}
	hgroup time {
		font-weight: normal;
		text-transform: uppercase;
		opacity: 0.2;
	}
	hgroup h2 {
		/* aka .entry-meta */
		display: block;
		font-size: 1em;
		clear: both;
		margin-top: 0.6em;
		text-transform: uppercase;
		opacity: 0.5;
	}

article {
	padding-bottom: 2em;
}

header {
	/* aka #pages */
	/* used by absolute position in handheld styles */
	position: relative;
}
	.pages {
		position: absolute;
		top: 4em;
		padding: 0.75em;
		font-size: 0.8125em;
		text-transform: uppercase;
		border-radius: 0.3em;
		z-index: 9876543210;
	}
		.pages ul li {
			display: inline-block;
			padding: 0 0.1em;
		}
			.pages ul li:before {
				opacity: 0;
				content: "[";
			}
			.pages ul li:after {
				opacity: 0;
				content: "]";
			}
				.pages ul li:hover:before,
				.pages ul li:hover:after,
				.current:before,
				.current:after {
					opacity: 1 !important;
				}
		.effect-loader {
			-webkit-animation: nav 1.2s 1 ease;
		}

#decoration-wrap {
	width: 100%;
	height: 540px;
	margin-top: -20px;
	padding-bottom: 0;
	overflow: hidden;
	position: absolute;
	z-index: -999;
}
	#decoration {
		font-family: 'Scriptina Pro', Zapfino, serif;
		margin-left: -3.2em;
		text-align: center;
		font-size: 12em;
		word-break: keep-all;
		white-space: nowrap;
		letter-spacing: -0.035em;
		word-spacing: -0.1em;
		opacity: 0.05;
		/* This is my favorite trick for Windows users */
		text-shadow: rgba(255, 255, 255, 0) 0 0 1px;
	}

/* @end */




/* @group Post Content Styles */
/* img p, blockquote p are workaround for WordPress auto paragraph */
/* all paragraph should use margin-bottom instead of padding-bottom */
article section {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}

article section.three-col {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
	margin-top: 2em;
	margin-bottom: 2em;
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
}
	article > h1:first-child, article > h2:first-child, article > h3:first-child, article > h4:first-child, article > h5:first-child, article > h6:first-child {
		margin-top: 0;
	}

article img,
article p img {
	width: 100%;
	border-radius: 3px;
	vertical-align: top;
}

article video {
	margin-bottom: 1em;
	width: 100%;
}

article a {
	text-decoration: none;
}
	article a:hover {
		text-decoration: underline;
	}

article p {
	margin-bottom: 1.5em;
	line-height: 1.5;
	text-align: justify;
}

article ul, article ol {
	margin-bottom: 1.5em;
	list-style-position: outside;
}
	article li {
		font-size: 0.9375em;
		line-height: 1.7;
	}
		article li a {
			text-decoration: none;
		}
			article li a:hover {
				text-decoration: underline;
			}
		article ol li ol,
		article ul li ul {
			/* This trick fixs the global css reset margin. */
			margin-left: 2em;
			margin-bottom: 0;
		}
		article li > ul li,
		article li > ol li,
		article li > ul > li > ul li,
		article li > ol > li > ol li {
			/* fix sub-list inherit issue */
			font-size: 1em;
		}

article sup {
	font-size: 0.6em;
	margin: 0 0.2em;
	vertical-align: super;
}

article code, article pre, article blockquote {
	margin-bottom: 2em;
}

article code {
	padding: 0.25em 0.5em;
	word-wrap: break-word;
	word-break: break-all;
}
	article code > em {
		font-style: normal;
	}

article pre {
	display: block;
	padding: 0.5em 1em;
	overflow: auto;
	/*text-overflow: ellipsis;*/
	/* white-space: nowrap; */
}

article blockquote {
/*	max-width: 100%;*/
/*	text-align: center;*/
	line-height: 1.25em;
}
	article blockquote[lang=zh] {
		line-height: 1em;
	}

article .slogan {
	font-size: 2.4em;
	margin-bottom: 1.2em;
}

article .more {
	font-family: Arial, sans-serif;
	font-size: 0.625em;
	text-decoration: none;
	padding: 0.25em 0.8em;
	display: inline-block;
	text-transform: uppercase;
	vertical-align: 0.2em;
}

article .note, article .download {
	font-size: 1.2em;
	min-width: 44.4%;
	margin-bottom: 1em;
	padding: 1.65em 2em 1.5em 2em;
}
	article .note a, article .download a {
	/* 	font-weight: bold; */
		text-decoration: none;
	}
		article .note a:hover, article .download a:hover {
			text-decoration: underline;
		}

a.more,
a.more:hover {
	/* this prevent adding text-shadow for 'MORE' link in About page */
	text-shadow: none;
	/* this prevent adding underline when in Archive page */
	text-decoration: none;
}

.gist .gist-file .gist-meta {
	/* fixing inherit issue */
	font-size: 11px !important;
}

/* @end */




/* @group Post Extra */
#post-nav {
	font-size: 0.875em;
	margin-bottom: 5em;
	padding: 3em 0;
	background: rgba(0, 0, 0, 0.04);
	overflow: auto;
}
	.nav-previous {
		float: left;
		max-width: 45%;
	}
		.nav-previous:after {
			content: " - Older Entry";
		}
	.nav-next {
		float: right;
		max-width: 45%;
		text-align: right;
	}
		.nav-next:before {
			content: "Newer Entry - ";
		}

.yoggrtad-wrap {
	padding-bottom: 5em;
	margin: 0 auto;
	height: 90px;
}
	.yoggrtad {
		float: left;
		clear: right;
		padding-right: 1em;
	}
		.yoggrtad img {
			margin: 0;
			border-radius: 0.3em;
		}
	.yoggrttext {
		font-size: 1.25em;
		line-height: 1.5em;
		font-family: Georgia, serif;
		font-style: italic;
		display: block;
	}
		.yoggrttext:before {
			content: "\201C";
			font-weight: normal;
		}
		.yoggrttext:after {
			content: "\201D";
			font-weight: normal;
		}
	.adby {
		display: inline-block;
		font-size: 0.8em;
	}

/* @end */




/* @group Some More Resets */
/*.right {
	float: right;
	clear: both;
}

.right figcaption {
	float: right;
}*/

.center, .center p {
	text-align: center !important;
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 800px !important;
}

/* @end */




/* @group Archive & Pages */

.archive-excerpt {
	font-size: 1.6em;
	list-style: none;
}
	ul.archive-excerpt {
		/* avoid using !important */
		margin-bottom: 0;
	}
		.archive-excerpt li {
			line-height: 1;
			margin-top: 2em;
		}
			.archive-excerpt li p {
				margin-top: 0.5em;
				font-size: 0.68em;
			}
				.archive-excerpt li a:hover {
					text-decoration: none;
				}

.self-intro, .self-intro abbr {
	font-family: Titillium, sans-serif;
}

.self-intro {
	font-weight: bold;
	font-size: 250%;
	line-height: 1.1em;
	margin: 0 auto 0.5em auto;
	padding-top: 3.1em;
	text-align: left;
	letter-spacing: -0.05em;
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
}

/* @end */




/* @group Footer */

footer {
	font-size: 0.8125em;
/* 	font-size: 0.625em; */
	padding-bottom: 6em;
	line-height: 1.2em;
	text-transform: uppercase;
}
	footer ul {
		float: left;
	}
		footer ul li {
			display: inline;
		}
			footer ul li:before {
				content: " / ";
			}
				footer ul li:first-child:before {
					content: "";
				}

#search-form {
	float: right;
	margin-bottom: 1.5em;
}
	input[type="search"] {
		font-size: 1.1em;
		outline: none;
		margin-top: -0.4em;
		padding: 0.3em 0.5em;
/* 		-webkit-appearance: searchfield; */
		-webkit-appearance: none;
	}
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		display: none;
	}

/* @end */




/* @group Handhelds & Print */

@media screen and (max-width: 1260px) {
}

@media screen and (max-width: 800px) {
	body {font-size: 95%;}
	article section, article section.three-col {-webkit-column-count: 1; -moz-column-count: 1; column-count: 1;}
	.yoggrttext, .adby {display: inline;}
}

@media screen and (max-width: 600px) {
	body {font-size: 80%;}
}

@media screen and (max-width: 480px) {
	/* a really small screen for debugging */
	#wrap {padding-top: 5em;}
	.pages {position: absolute; top: 2.4em;}
	hgroup {padding-top: 6em}
	.self-intro {padding-top: 2em;}
	article ul {list-style-position: inside !important;}
	.nav-previous {max-width: 100%; float: none; text-align: left; margin-top: 1.5em;}
	.nav-previous:after {content: " - Older Entry";}
	.nav-next {max-width: 100%; float: none; text-align: left;}
	.nav-next:before {content: "";}
	.nav-next:after {content: " - Newer Entry";}
	.yoggrttext {font-size: 1em;}
	footer ul, #search-form {float: none;}
	#search-form {margin-top: 2em;}
}

@media screen and (max-device-width: 480px) {
	body {-webkit-text-size-adjust: none; /* fix font-size on iphone */}
}

@media screen and (max-device-width: 320px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
}

@media all and (orientation: portrait) {
}

@media all and (orientation: landscape) {
}

@media print {
	* {background: transparent !important; color: black !important; text-shadow: none !important; border: none !important;}
	/*article a:after {content: " (" attr(href) ")"; font-weight: normal;}*/
	abbr:after {content: " (" attr(title) ")";}
	pre, blockquote {page-break-inside: avoid;}
	img {page-break-inside: avoid; /* opera only */}
	h1, h2, h3, h4, h5, h6, blockquote, abbr {margin: 1.5em 0 1em 0 !important; padding: 0 !important;}
	/*li {list-style-position: inside !important;}*/
	p, h2, h3 {widows: 3; orphans: 3;}
	h2, h3{page-break-after: avoid;}
	#wrap {margin-top: 3em;}
	#search-form, header, #post-nav, .unprintable, hgroup h2, .yoggrtad-wrap, .more {display: none !important;}
	article a, article a:visited {text-decoration: none !important; font-weight: bold !important;}
	article img, article p img {width: 100% !important; margin: 0 !important;}
	article .note, article .download {margin: 0 !important; padding: 0 !important;}
}

/* @end */




/* @group Transitions */

a {
	-webkit-transition: color 0.8s ease;
	   -moz-transition: color 0.8s ease;
	     -o-transition: color 0.8s ease;
	        transition: color 0.8s ease;
}

a:hover {
	-webkit-transition: color 0.0s ease;
	   -moz-transition: color 0.0s ease;
	     -o-transition: color 0.0s ease;
	        transition: color 0.0s ease;
}

.more,
input[type="search"] {
	-webkit-transition: background-color 1s ease, border 1s ease;
	   -moz-transition: background-color 1s ease, border 1s ease;
	     -o-transition: background-color 1s ease, border 1s ease;
	        transition: background-color 1s ease, border 1s ease;
}

.more:hover,
input[type="search"]:hover,
.pages {
	-webkit-transition: background-color 0.3s ease, border 0.3s ease;
	   -moz-transition: background-color 0.3s ease, border 0.3s ease;
	     -o-transition: background-color 0.3s ease, border 0.3s ease;
	        transition: background-color 0.3s ease, border 0.3s ease;
}

@-webkit-keyframes nav {
	0% {opacity: 0;}
	70% {opacity: 0;}
	100% {opacity: 100;}
}

/*
@-webkit-keyframes nav {
    0% {top: -4.5em;}
    67% {top: 4.5em;}
    86% {top: 4.45em;}
    100% {top: 4.5em;}
}
*/

/* @end */