/*! (c) sparanoid.com */

* {
	margin: 0;
	padding: 0;
}
body {
	background: rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, 0.35);
	font-family: Arial, sans-serif;
	line-height: 1;
}

a {
	color: rgba(0, 0, 0, 0.7);
	text-decoration: none;
}

br {
	/* fix add output */
	display: none;
}

#wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 480px;
	margin: -240px 0 0 -200px;
/* 	background: #fff; */
}

header {
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 1);
	margin: 10% auto 20px auto;
}

article, footer {
	width: 400px;
	margin: 0 auto 20px auto;
}

.yoggrtad-wrap {
	background: rgba(0, 0, 0, 0.02);
	padding: 20px;
	border-radius: 7px;
	margin: 0 auto;
	min-height: 45px;
}
	.yoggrtad {
		float: left;
		padding-right: 1em;
	}
		.yoggrtad img {
			width: 80px;
			height: 45px;
			border-radius: 0.3em;
		}
	.yoggrttext {
		font-size: 14px;
		font-family: Georgia, serif;
	}
		.yoggrttext:before {
			content: "\201C";
		}
		.yoggrttext:after {
			content: "\201D";
		}
	.adby {
		display: inline;
		font-size: 10px;
	}
		.adby:before {
			content: "\2014";
			margin: 0 0.5em;
		}

footer {
	font-size: 12px;
}
	footer p, footer li {
		margin: 0 20px;
		line-height: 1.5;
	}
	footer ul {
		margin: 1em 0 1em 20px;
	}
::-moz-selection {background: rgba(0, 0, 0, 0.05);}
::selection {background: rgba(0, 0, 0, 0.05);}