---
layout: default
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    {% capture image_header %}
      <img
        src="{{ site.data.var.file }}/{{ page.img-headline }}"
        alt="{{ page.title | strip_html | xml_escape }}"
        {% if page.img-headline-width %}
          width={{ page.img-headline-width }}
        {% else %}
          width=500
        {% endif %}
      >
    {% endcapture %}

    {% if page.img-headline %}
      <h1>
        {% if page.link %}
          <a href="{{ page.link }}">
            {{ image_header }}
          </a>
        {% else %}
          {{ image_header }}
        {% endif %}
      </h1>
    {% else %}
      <h1>
        {% if page.link %}
          <a href="{{ page.link }}">{{ page.title }} &middot;</a>
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
    {% endif %}
    {% if page.date %}<small>By <a rel=author>{{ site.data.var.user }}</a> on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time></small>{% endif %}
    {% if page.desc %}<small>{{ page.desc }}</small>{% endif %}
  </header>

  <!-- Post content -->
  {{ content }}

</article>
