---
layout: default
---

<!-- Article wrapper, limit width -->
<article>

  <!-- Post title -->
  <header>
    <!-- Prepare for image headers -->
    {% capture image_header %}
      <img
        src="{{ site.data.var.file }}/{{ page.img-headline }}"
        alt="{{ page.title | strip_html | xml_escape }}"
        {% if page.img-headline-width %}
          width={{ page.img-headline-width }}
        {% else %}
          width=500
        {% endif %}
      >
    {% endcapture %}

    <!-- Prepare for SVG headers -->
    {% capture svg_header %}
      <style scoped>
        article h1 svg {
          width: {{ page.svg-headline-width | times: 0.1 }}vw;
          height: {{ page.svg-headline-height | times: 0.1 }}vw;
        }
      </style>
      {% for i in page.svg-headline %}
        {% include {{ i }} %}
      {% endfor %}
    {% endcapture %}

    {% if page.img-headline %}
      <h1>
        {% if page.link %}
          <a href="{{ page.link }}">
            {{ image_header }}
          </a>
        {% else %}
          {{ image_header }}
        {% endif %}
      </h1>
    {% elsif page.svg-headline %}
      <h1>
        {% if page.link %}
          <a href="{{ page.link }}">
            {{ svg_header }}
          </a>
        {% else %}
          {{ svg_header }}
        {% endif %}
      </h1>
    {% else %}
      <h1>
        {% if page.link %}
          <a href="{{ page.link }}" class=external>{{ page.title }} <span></span></a>
        {% else %}
          {{ page.title }}
        {% endif %}
      </h1>
    {% endif %}

    {% if page.date %}<small>By <span rel=author>{{ site.data.var.user }}</span> on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %d, %Y" }}</time></small>{% endif %}
    {% if page.desc %}<small>{{ page.desc }}</small>{% endif %}
  </header>

  <!-- Post content -->
  {{ content }}

</article>
