<!-- Twitter Cards support for category "work", more info: https://dev.twitter.com/docs/cards -->
{% if page.category %}
  <meta name=twitter:card content="summary">
  <meta name=twitter:site content="@{{ site.twitter }}">
  <meta name=twitter:creator content="@tunghsiao">
  <meta name=twitter:url content="{{ site.url }}{{ site.base }}{{ page.url }}">
  <meta name=twitter:title content="{{ page.title | strip_html | xml_escape }}">
  <meta name=twitter:description content="{{ content_description }}">
  {% if page.category == 'work' %}
  <meta name=twitter:image content="{{ site.file }}/thumb/{% if page.thumb %}{{ page.thumb }}{% else %}na.png{% endif %}">
  {% endif %}
{% endif %}
