<!DOCTYPE html>

<!-- ... .--. .- .-. .- -. --- .. -.. -->

<meta name=viewport content="width=device-width, initial-scale=1.0">

<link rel=alternate href={% if site.prod %}//{{ site.url }}{% endif %}/feed/ type=application/atom+xml>
<link rel=stylesheet href={% if site.prod %}//{{ site.url }}{% endif %}/{{ site.css-path }}/a.min.css>
{% if page.title == 'Sparanoid' %}<link rel=dns-prefetch href={{ site.file }}>{% endif %}

<title>{% if page.title != 'Sparanoid' %}{{ site.name }} - {% endif %}{{ page.title }}</title>

{% if page.title == 'Sparanoid' %}
<header>
  <h2>Welcome to <a href={% if site.prod %}//{{ site.url }}{% endif %}/>Sparanoid</a></h2>
  <h1 lang=ja><a href={% if site.prod %}//{{ site.url }}{% endif %}/ rel=home accesskey=x>スパラノイド</a></h1>
</header>
{% endif %}

<nav>
  {% if page.title == 'Sparanoid' %}
    <h2>Get Started Here</h2>
  {% else %}
    <h2>&lt; <a href={% if site.prod %}//{{ site.url }}{% endif %}/ rel=home accesskey=x>Back to Home</a></h2>
  {% endif %}
  <ul>
    <li{% if page.permalink == '/work/' or page.category == 'work' %} class=current{% endif %}><a href={% if site.prod %}//{{ site.url }}{% endif %}/work/>Work<span> ／ ワークス ／ 作品</span></a></li>
    <li{% if page.permalink == '/note/' or page.category == 'note' %} class=current{% endif %}><a href={% if site.prod %}//{{ site.url }}{% endif %}/note/>Note<span> ／ ノート ／ 筆記</span></a></li>
    <li{% if page.permalink == '/about/' or page.category == 'about' %} class=current{% endif %}><a href={% if site.prod %}//{{ site.url }}{% endif %}/about/>About<span> ／ について ／ 關於</span></a></li>
  </ul>
</nav>

{{ content }}

{% if page.category == "work" or page.category == "note" %} 
<nav>
{% if page.next_in_categories.url %}
  <p><a href={% if site.prod %}//{{ site.url }}{% endif %}{{ page.next_in_categories.url }}/>{{ page.next_in_categories.title }}</a> |
{% else %}
  <p>You're viewing the latest post |
{% endif %}
{% if page.previous_in_categories.url %}
  Previous: <a href={% if site.prod %}//{{ site.url }}{% endif %}{{ page.previous_in_categories.url }}/>{{ page.previous_in_categories.title }}</a> &gt;</p>
{% else %}
  You're reading my first post</p>
{% endif %}
</nav>
{% endif %}

{% if page.title != 'Sparanoid' %}
<aside>
<h2><a href="http://www.yoggrt.com/">Ads by Yoggrt</a></h2>
{% include sponsor.html %}
</aside>
{% endif %}

<footer>
  <p class=c><a href=http://twitter.com/{{ site.twitter }}>{{ site.name }}</a> feat. <a href=http://sparanoid.com/work/nite/>NITE</a>. (<a href=/feed/ title="Feed - Atom (The Atom Syndication Format)">Atom</a>)</p>
</footer>