---
layout: default
---

<article>
  <hgroup>
    <h1>{% if page.link %}<a href={{ page.link }}>{{ page.title }} &rarr;</a>{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<h2><time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date: "%b %d, %Y" }}</time>, by {{ site.user }}</h2>{% endif %}
    {% if page.desc %}<h2>{{ page.desc }}</h2>{% endif %}
  </hgroup>

  {{ content }}

  <a href="http://twitter.com/home?status={{ page.title | cgi_escape }}{{ " by @" | cgi_escape }}{{ site.twitter | cgi_escape }}{{ " http://" | cgi_escape }}{{ site.url | cgi_escape }}{{ page.url | cgi_escape }}{{ "/" | cgi_escape }}" class=btn target=_blank>Tweet it</a>
</article>